
.Message { background: gray; color:White; padding: .2em; margin-top:.25em; }
.field-validation-error { color: red; }
.input-validation-error { border: 1px solid red; background-color: #ffeeee; }
.validation-summary-errors { font-weight: bold; color: red; }
